@charset "utf-8";

/* Reset everything to border box */
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
    display: grid;
}

/* Background colour */
body {
	background: whitesmoke;
}

/* Set up grid */
article {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-areas: 
		"header header header"
		"image image article"
        "image image article"
        "starter starter article"
        "article article article"
        "article article article"
		"footer footer footer"
	;
	grid-template-rows: 150px auto 100px;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 1rem;
}

h1{
    border: 5px dotted green;
    grid-area: header;
}

img {
    border: 5px dotted red;
    grid-area: image;
}