@charset "utf-8";

/* Reset everything to border box */
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

/* Background colour */
body {
	background: whitesmoke;
}

/* Set up grid */
article {
	margin: 0 auto;
	display: grid;
	grid-template-areas: 
		"image image article3"
        "image image article3"
        "starter starter article3"
        "article1 article2 article3"
        "article1 article2 article3"
		"footer footer footer"
	;
	grid-template-rows: 150px 150px 150px 150px 150px 50px;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

h1{
    color: orange;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    font-size: 1.25rem;
    padding: 5px;     
    border-left: 2px solid black;
    border-right: 2px solid black;
}

img {
    grid-area: image;
}