@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

#container {
	width: 80%;
	min-width: 720px;
	max-width: 1024px;
	margin: 0 auto;
}

div ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}
div li {
	margin: 0 2.5px;
	display: block;
	padding: 0.5em 1em;
	background: lightgrey;
	border-radius: 5px 5px 0 0;
	border: 3px solid black;
	border-bottom: none;
}

div li:hover {
	background: #fff;
}

div li a {
	text-decoration: none;
	color: #000;
	display: block;
}

[role="tabpanel"] {
	display: none;
	padding: 1em;
	border: 3px solid black;
	background: #fff;
	margin-top: 0;
}


