/* Reset and Border-Box*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Set background colour and typography "Base"*/
body {
  font-family: serif;
  background-color: #1f1c1a;
  color: #f2ece6;
  line-height: 1.6;
}

/*Start centering*/
header,
footer {
  text-align: center;
  padding: 2rem 1rem;
}

/*make main flex container and content in article display in a column*/
main {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 700px;
}