/* Reset and Border-Box*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Set background colour and typography "Base"*/
body {
  font-family: serif;
  color: #f2ece6;
  line-height: 1.6;

  /*Add Background image of field and make it stick to the background*/
  background-image: url("../images/EveningField.jpg") no-repeat;
  background-size: cover;      
  background-attachment: fixed; 
  background-position: center;  
}

/*Start centering*/
header,
footer {
  text-align: center;
  padding: 2rem 1rem;
}

/*Center album cover, restric size, round corners and add transparent shadow*/
header img {
  display: block;
  margin: 1rem auto;
  max-width: 200px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/*make main flex container and content in article display in a column*/
main {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 700px;
}

/*Typography*/
h1,
h2 {
  font-family:  "Almendra SC", serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #e8b07a;
}

p {
  margin-bottom: 1rem;
}

/*Lyrics*/
section p {
  font-family: "Fondamento", serif;
}

/*Aside*/
aside {
  border-left: 3px solid #e8b07a;
  padding-left: 1.5rem;
}

blockquote {
  margin-bottom: 1rem;
}

blockquote p {
  font-style: italic;
}

/*Footer and Links*/
footer small {
  font-size: 0.85rem;
  color: #cfc6bd;
}

a {
  color: #e8b07a;
}