/* reset everything to border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* set the scroll behavior to smooth on main element */
html {
  scroll-behavior: smooth;
}

/* reset the margins to 0 on all text */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin: 0;
}

/* add padding to the lists */
ul,
ol {
  padding-left: 1.25rem;
}

/* set the image size and display property */
img,
svg {
  max-width: 100%;
  display: block;
}
